# Node
node_modules/

# Python
venv/
__pycache__/
*.pyc

# Environment variables
.env

# Database
db.sqlite3

# User uploads
media/
backend/media/

# Generated static files
staticfiles/
backend/staticfiles/